<section class="site-section" id="section-blog">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="row">
                <h2 class="heading text-uppercase text-white"  data-aos="fade-up">Блог</h2>
                {% for post in posts %}

                <div class="col-md-12 mb-4" data-aos="fade-up">
                  <div class="d-md-flex d-block blog-entry align-items-start">

                    {% if post.picture %}
                           <img src="{{ url_for('static', filename='images/' + post.picture ) }}" height="200"  class="card-img-top" alt="...">
                    {% else %}

                              <img src="https://sun9-54.userapi.com/impg/47CGI69JDV-VlBHlai4YypIvw9_Lba9uyDjbkQ/bBVUhxR-xDM.jpg?size=604x332&quality=96&sign=464d9dd384a4046f5a9fe4b7f6e6bb13&type=album" height="200" class="card-img-top" alt="...">
                    {% endif %}

                    <div>
                      <h2 class="mt-0 mb-2"><a href="{{ url_for('article.article_detail', article_id=post.id) }}">{{ post.title }}</a></h2>
                      <p>{{ post.content | truncate(50) }}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}

                <div class="col-12 text-center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>