<section class="site-section darken-bg" id="section-contact">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <h2 class="text-white mb-5 heading">Связаться со мной</h2>


                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

              <form method="POST" action="{{ url_for('index.main_page') }}">
                  {{ form.csrf_token }}

                    <div class="row form-group">
                      <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-white" for="first_name">Имя</label>
                        {{ form.first_name(class="form-control") }}
                      </div>
                      <div class="col-md-6">
                        <label class="text-white" for="last_name">Фамилия</label>
                        {{ form.last_name(class="form-control") }}
                      </div>
                    </div>

                    <div class="row form-group">

                      <div class="col-md-12">
                        <label class="text-white" for="email">Email</label>
                        {{ form.email(class="form-control") }}
                      </div>
                    </div>

                    <div class="row form-group">

                      <div class="col-md-12">
                        <label class="text-white" for="subject">Тема</label>
                        <input type="subject" id="subject" class="form-control">
                      </div>
                    </div>

                    <div class="row form-group mb-5">
                      <div class="col-md-12">
                        <label class="text-white" for="message">Сообщение</label>
                        {{ form.message(class="form-control")}}
                      </div>
                    </div>

                    {{ form.submit(class="btn btn-primary mb-3") }}


                  </form>
            </div>
          </div>
        </div>
      </section>