{% extends 'base.html' %}
  
{% block content %}
  <div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="header-bar d-flex d-lg-block align-items-center site-navbar-target" data-aos="fade-right">
    <div class="site-logo">
      <a href="{{ url_for('index.main_page') }}">Фото Блог</a>
    </div>
    
    <div class="d-inline-block d-lg-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

    <div class="main-menu">
      <ul class="js-clone-nav">
        {% if not current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.login_page') }}" class="nav-link">Войти</a></li>
        <li><a href="{{ url_for('registrations.register_page') }}" class="nav-link">Зарегистрироваться</a></li>
        {% else %}
        <li><a href="#section-home" class="nav-link">Здравствуй {{ current_user }}</a></li>
        <li><a href="/admin" class="nav-link">Админка</a></li>
        <li><a href="{{ url_for('auth.logout') }}" class="nav-link">Выход</a></li>
        {% endif %}

        <li><a href="#section-home" class="nav-link">Главная</a></li>
        <li><a href="#section-photos" class="nav-link">Фото</a></li>
        <li><a href="#section-bio" class="nav-link">Биография</a></li>
        <li><a href="#section-blog" class="nav-link">Блог</a></li>
        <li><a href="#section-contact" class="nav-link">Контакты</a></li>
      </ul>
      <ul class="social js-clone-nav">
        <li><a href="#"><span class="icon-facebook"></span></a></li>
        <li><a href="#"><span class="icon-twitter"></span></a></li>
        <li><a href="#"><span class="icon-instagram"></span></a></li>
      </ul>
    </div>
  </header> 

  <main class="main-content">

    <section class="site-section-hero bg-image" style="background-image: url('static/images/img_9.jpg');"  data-stellar-background-ratio="0.5" id="section-home">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-7 text-center">
            <h1 class="text-white heading text-uppercase" data-aos="fade-up">Добро пожаловать</h1>
          </div>
        </div>
      </section>

    <div class="container-fluid">
        
      


      {% include 'blog/_components/_gallery.html' %}
      {% include 'blog/_components/_testimonial.html' %}

      {% include 'blog/_components/_biography.html' %}

      {% include 'blog/_components/_blog.html' %}


      {% include 'blog/_components/_contacts.html' %}





      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
      </div>
    </div>
  </main>

</div> <!-- .site-wrap -->
{% endblock content %}

