{% extends 'base.html' %}


{% block title %}
    Войти
{% endblock title %}

{% block content %}
<h2 class="text-center">
    Авторизация пользователя
</h2>
<form action="" method="post">
    <div class="d-flex justify-content-center shadow bg-white rounded">
        <div class="col-md-8">
            {% for field in form %}
            <div class="card-body">
                {{ field.label() }}
                {{ field(class='form-control') }}
            </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-success btn-lg">
                    Войти
            </button>
        </div>
    </div>
</form>

{% endblock content %}